--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: public; Owner: fastapi_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(16),
    email character varying(255),
    hashed_password character varying(255),
    refresh_token character varying(512)
);


ALTER TABLE public.users OWNER TO fastapi_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: fastapi_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO fastapi_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fastapi_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: fastapi_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: fastapi_user
--

COPY public.users (id, username, email, hashed_password, refresh_token) FROM stdin;
5	sprovay	sprovay@gmail.com	$2b$12$4qfX3VENM.awUiAVdszJB.T9Uzy0E9o3.Vs/6OIfJ/oCNXJsok/Be	eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJzcHJvdmF5QGdtYWlsLmNvbSIsImV4cCI6MTc0NjAwODUxMn0.l1BSLm0PSPCm--jmVJjW8am067vK2jg1jLdSEemIjW8
\.


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fastapi_user
--

SELECT pg_catalog.setval('public.users_id_seq', 8, true);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: fastapi_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: fastapi_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: fastapi_user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: fastapi_user
--

CREATE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO fastapi_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO fastapi_user;


--
-- PostgreSQL database dump complete
--

