.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.send-message-form,
.reset-password-form,
.login-form,
.register-form {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
}

.ant-form-item-label {
    padding-bottom: 4px !important;
}

.ant-form-item {
    margin-bottom: 12px !important;
}

.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.ant-layout-content {
    padding: 24px;
    margin: 0;
    min-height: 280px;
    background-color: white;
    border-radius: 7px;
    overflow: auto;
}

.button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}
