.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 24px;
}

.main {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.span {
    color: white;
}
